---
layout: default
---

<article>
  <div>
    <a href="/"><img src="/assets/lamp.jpeg" style="max-height: 150px; float: left;"></a>
  <br>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
    </time>
  </div>


  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>

    <side style="font-size: 0.9em">

      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">


      </div>

    </side>
  </div>
</article>

<hr>

<p>The nature of this note situation is that some of the notes will always be extremely unfinished.
  <br>Questions? Comments? Write to me at <a href="mailto:lauradawngyre@gmail.com">lauradawngyre@gmail.com</a> (or <a href="http://twitter.com/lauragyre">@me</a>).
</p>
<br>
<div style="width: 80%; margin-left: auto; margin-right: auto; border-radius: 25px;">
{% include notes_graph.html %}
</div>
