h1, h2, h3, h4, .page-header {

    font-weight: normal !important;
}

img {
    float: left !important;
    margin-right: 15px;
}

a, .internal-link, .external-link {
    color: lavender;
    text-decoration: none !important;
}

.site-header, .site-footer {

}
