h1, h2, h3, h4, .page-header {

    font-weight: normal !important;
}

img {
    float: left !important;
    margin-right: 15px;
}

content a.internal-link a, content a.external-link {
    color: lavender !important;
    text-decoration: none !important;
    background-color: none !important;
}

content a.internal-link

.site-header, .site-footer {

}
